#default option aliases
alias ls='ls --color=auto -F'
alias grep='grep --color=auto'
alias xxd='xxd -g 1'

#command aliases
alias cgrep='grep --color=always'
alias hl='history -iDd 0'
alias hlg='hl | grep'
alias nsa='netstat -pan46'
alias psl='ps -Heo pid,user,%cpu,%mem,pri,cls,ni,nlwp,tty,stat,start_time,bsdtime,cmd'
alias pslg='psl | grep'
alias xclip='xclip -selection clipboard'

SSHU_OPTS='-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'
alias sshu="ssh $SSHU_OPTS"
alias scpu="scp $SSHU_OPTS"
alias sshfsu="sshfs $SSHU_OPTS"
alias rsyncu="rsync --rsh=\"ssh $SSHU_OPTS\""
alias sshu-copy-id="ssh-copy-id $SSHU_OPTS"

alias diga='dig +noall +answer'

alias cuts='cut -d" "'
alias sqws='sed -e "s/\\s\\+/ /g"' #squeeze whitespace
alias sqwst='sed -e "s/\\s\\+/\\t/g"' #squeeze whitespace to tab (for cut)
alias trim='sed -e "s/^\\s*//" -e "s/\\s*$//"'

#mkdir + cd
mkcd() {
	mkdir -p -- "$1" &&
	cd -- "$1"
}

#Initialize a git repository
gitinit() {
	if [ -n "$1" ]; then mkdir -p -- "$1"; cd -- "$1"; fi
	git init .
	if git show-ref -q 2>/dev/null; [ $? -eq 1 ]; then
		git commit --allow-empty -m "Initial commit";
	fi
}

ipof() {
	dig +noall +answer "$@" | sed -e 's/\s\+/\t/g' | cut -f 5
}

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    #alias dir='dir --color=auto'
    #alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# Use readline for  SQLPlus
alias sqlplus="rlwrap -i -f ~/.cache/sqlplus-history -H ~/.cache/sqlplus-history -s 30000 /usr/lib/oracle/xe/app/oracle/product/10.2.0/server/bin/sqlplus"

alias rubydev='PATH="~/.rbenv/bin:$PATH";eval "$(rbenv init -)"'

alias ed='ed -p$\ '

alias ec='emacsclient -nw'
alias ecw='emacsclient -n -c'
alias screenshot='grim -g "$(slurp)"'

alias dfgit="git --git-dir=$HOME/dotfiles.git --work-tree=$HOME"
alias less="less -R"
alias jdk=". /opt/java/pick-java.sh"

alias x="exit"

alias repostat="repo forall -c 'git -P branch --format=\"%(refname:short) %(upstream:track)%(if)%(upstream)%(then)%(else)<local>%(end)\" | sed \"s|^|\$REPO_PATH:|;s|^[^:]*/||\"' | column -t -s:"
