
! Common

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900


! Dark

! #define S_base03        #002b36
! #define S_base02        #073642
! #define S_base01        #586e75
! #define S_base00        #657b83
! #define S_base0         #839496
! #define S_base1         #93a1a1
! #define S_base2         #eee8d5
! #define S_base3         #fdf6e3


! Light

#define S_base03        #fdf6e3
#define S_base02        #eee8d5
#define S_base01        #93a1a1
#define S_base00        #839496
#define S_base0         #657b83
#define S_base1         #586e75
#define S_base2         #073642
#define S_base3         #002b36

Xcursor.size:               16
XTerm*altIsNotMeta:         true
XTerm*eightBitInput:        false
XTerm*eightBitOutput:       true
XTerm*altSendsEscape:       true
XTerm*on2Clicks:            regex [^/@ `\047\n]+
XTerm*on3Clicks:            regex [^ `\047\n]+
XTerm*on4Clicks:            regex [^#$]+
XTerm*on5Clicks:            line
XTerm*faceName:             "Inconsolata"
XTerm*faceSize:             11.0
XTerm*renderFont:           true
XTerm*scrollBar:            false

UXTerm*altIsNotMeta:        true
UXTerm*eightBitInput:       false
UXTerm*eightBitOutput:      true
UXTerm*altSendsEscape:      true
UXTerm*on2Clicks:           regex [^/@ `\047\n]+
UXTerm*on3Clicks:           regex [^ `\047\n]+
UXTerm*on4Clicks:           regex [^#$]+
UXTerm*on5Clicks:           line
UXTerm*faceName:            "xft:Droid Sans Mono"
UXTerm*faceSize:            11
UXTerm*renderFont:          true
UXTerm*scrollBar:           false
UXTerm*visualBell:          true

URxvt.selection.pattern-0:  ([[:word:]]+)
URxvt.selection.pattern-1:  ([[:word:].]+)
URxvt.color4:               #0000BB

Xft.hinting:                true
Xft.hintstyle:              hintslight
Xft.antialias:              rgba
Xft.rgba:                   rgb
Xft.embolden:               false
Xft.dpi:                    157


xterm*background:              S_base03
xterm*foreground:              S_base3
xterm*fading:                  40
xterm*fadeColor:               S_base03
xterm*cursorColor:             S_base1
xterm*pointerColorBackground:  S_base01
xterm*pointerColorForeground:  S_base1

xterm*color0:                  S_base02
xterm*color1:                  S_red
xterm*color2:                  S_green
xterm*color3:                  S_yellow
xterm*color4:                  S_blue
xterm*color5:                  S_magenta
xterm*color6:                  S_cyan
xterm*color7:                  S_base2
xterm*color9:                  S_orange
xterm*color8:                  S_base03
xterm*color10:                 S_base01
xterm*color11:                 S_base00
xterm*color12:                 S_base0
xterm*color13:                 S_violet
xterm*color14:                 S_base1
xterm*color15:                 S_base3

st-256color*background:              S_base03
st-256color*foreground:              S_base0
st-256color*fading:                  40
st-256color*fadeColor:               S_base03
st-256color*cursorColor:             S_base1
st-256color*pointerColorBackground:  S_base01
st-256color*pointerColorForeground:  S_base1

st-256color*color0:                  S_base02
st-256color*color1:                  S_red
st-256color*color2:                  S_green
st-256color*color3:                  S_yellow
st-256color*color4:                  S_blue
st-256color*color5:                  S_magenta
st-256color*color6:                  S_cyan
st-256color*color7:                  S_base2
st-256color*color9:                  S_orange
st-256color*color8:                  S_base03
st-256color*color10:                 S_base01
st-256color*color11:                 S_base00
st-256color*color12:                 S_base0
st-256color*color13:                 S_violet
st-256color*color14:                 S_base1
st-256color*color15:                 S_base3
