Xcursor.size:               16

XTerm*altIsNotMeta:         true
XTerm*eightBitInput:        false
XTerm*eightBitOutput:       true
XTerm*altSendsEscape:       true
XTerm*on2Clicks:            regex [^/@ `\047\n]+
XTerm*on3Clicks:            regex [^ `\047\n]+
XTerm*on4Clicks:            regex [^#$]+
XTerm*on5Clicks:            line
XTerm*faceName:             JetBrains Mono
XTerm*faceSize:             11.0
XTerm*renderFont:           true
XTerm*scrollBar:            false

UXTerm*altIsNotMeta:        true
UXTerm*eightBitInput:       false
UXTerm*eightBitOutput:      true
UXTerm*altSendsEscape:      true
UXTerm*on2Clicks:           regex [^/@ `\047\n]+
UXTerm*on3Clicks:           regex [^ `\047\n]+
UXTerm*on4Clicks:           regex [^#$]+
UXTerm*on5Clicks:           line
UXTerm*faceName:            JetBrains Mono
UXTerm*faceSize:            11
UXTerm*renderFont:          true
UXTerm*scrollBar:           false
UXTerm*visualBell:          true

URxvt.selection.pattern-0:  ([[:word:]]+)
URxvt.selection.pattern-1:  ([[:word:].]+)
URxvt.color4:               #0000BB

Xft.hinting:                false
Xft.hintstyle:              hintslight
Xft.antialias:              rgba
Xft.rgba:                   rgb
Xft.embolden:               false
Xft.dpi:                    157

#define MO_fgMain                    #000000
#define MO_red                       #a80000
#define MO_green                     #005200
#define MO_yellow                    #8b3800
#define MO_blue                      #0030a6
#define MO_magenta                   #721045
#define MO_cyan                      #005589
#define MO_bgAlt                     #f3f1f3
#define MO_fgAlt                     #505050
#define MO_redAlt                    #880000
#define MO_greenAlt                  #4a5700
#define MO_yellowAlt                 #714900
#define MO_blueAlt                   #223fbf
#define MO_magentaAlt                #8f0075
#define MO_cyanAlt                   #185870
#define MO_bgMain                    #ffffff

xterm*background:              MO_bgMain
xterm*foreground:              MO_fgMain
xterm*fading:                  40
xterm*fadeColor:               MO_bgMain
xterm*cursorColor:             MO_fgAlt
xterm*pointerColorBackground:  MO_fgAlt
xterm*pointerColorForeground:  MO_bgAlt

xterm*color0:                  MO_fgMain
xterm*color1:                  MO_red
xterm*color2:                  MO_green
xterm*color3:                  MO_yellow
xterm*color4:                  MO_blue
xterm*color5:                  MO_magenta
xterm*color6:                  MO_cyan
xterm*color7:                  MO_bgMain
xterm*color8:                  MO_fgAlt
xterm*color9:                  MO_redAlt
xterm*color10:                 MO_greenAlt
xterm*color11:                 MO_yellowAlt
xterm*color12:                 MO_blueAlt
xterm*color13:                 MO_magentaAlt
xterm*color14:                 MO_cyanAlt
xterm*color15:                 MO_bgMain

UXTerm.termName:               xterm-256color
